.App {
  text-align: center;
}
h4{
    color:white!important;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.welcome-header{
    margin-top:5%;
}
.App-header {

  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.teacher-container{
    display: flex;
    flex-direction:row;
    /* padding: 2%; */
    height:700px;
    /* Rectangle 2: */

}
.teacher-left{
    flex-grow: 3;
    margin:2% 1% 2%;
    padding:4%;
    background-color: #28373E;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}
.teacher-top-panel{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.teacher-addBtn{

}
.teacher-right{
    flex-grow: 1;
    margin: 2% 2% 2% 1%;
    padding:4%;
    border-radius: 12px;
    height:auto;
    display: flex;
    flex-direction: column;

}
/* .teacher-right h4{
    heigh:50px;
} */
.teacher-text-field{

    flex-grow: 1;
    background-color: white;
}

.selection-page-container{
    display: inline-grid;
    grid-template-columns: auto auto auto auto;

    margin: 5% 10%;
    width:30%!important;
    border-radius: 6px;

    padding: 1% 5% 1% 5%;
    border:2px solid lightgrey;
}
.select-btn{
    margin: auto;
    padding:30px 10px;
    width: 80%;
}
.login-container{
    margin: 5% 10%;
    width:30%!important;
    border-radius: 6px;
    border:2px solid lightgrey;
    padding: 2% 5% 0 5%;
}
.main-container{
    margin:5% 10%;
    padding:0 10%;

}
.btn{
    margin-top:3%;

}
.login-btn{
    width: 100%!important;
}
.register-btn{
    margin-top: 0%;
    width: 100%!important;
    margin-bottom: 4%!important;

}
